body {
    font-family: 'Raleway', sans-serif;
}

/* FORM CONTAINER */
.comments-form-container {
    padding: 40px 150px;
    background: #2d3136;
}

/* FORM HEADER */
.header {
    color: white;
    text-decoration: none;
    padding-left: 3px;
    padding-top: 2px;
    display: inline-block;
    font-size: 16px;
}

/* LOGO */
a:hover {
    text-decoration: none;
}

.logo a, .logo a:hover {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}

.logo img {
    margin-right: 10px;
    width: 35px;
}

/* RED ICON */
.mail-logo {
    background-image: url(/mail-logo.png);
    width: 150px;
    height: 150px;
    background-size: contain;
    margin: 40px auto 20px;
}

/* FORM LAYOUT */
.comments-form .col-sm-6:first-child {
    padding-right: 30px;
}

.comments-form .col-sm-6:last-child {
    padding-left: 30px;
}

/* FORM CONTROLS */
.comments-form input,
.comments-form textarea {
    height: 45px;
    background: transparent;
    border: solid 1px #4b4f53;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #d7d7d7;
}

.comments-form input:focus,
.comments-form textarea:focus {
    border: solid 1px #743538;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.comments-form textarea {
    height: 133px;
}

.comments-form label {
    color: #d7d7d7;
}

.comments-form .form-group.required label:first-child:after {
    content: '*';
    font-size: 15px;
    color: #be393b;
    margin-left: 5px;
}

.custom-button {
    height: 40px;
    background: #be393b;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    padding: 0 20px;
    margin-top: 30px;
}


/* COMMENTS LIST BLOCK */
.comments-list-container {
    padding: 40px 150px;
}

.comments-list-container h3 {
    text-align: center;
}

.comments-list {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
}

.comments-list .comment {
    min-width: 200px;
    width: 200px;
    margin: 0 30px 60px;
}

.comments-list .comment-header {
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.comments-list .comment:nth-child(even) .comment-header {
    background: #58ad52;
}

.comments-list .comment:nth-child(odd) .comment-header {
    background: #4b596c;
}

.comments-list .comment-content {
    padding: 20px;
    text-align: center;
}

.comments-list .comment:nth-child(even) .comment-content {
    color: #767582;
    background: #deebde;
}

.comments-list .comment:nth-child(odd) .comment-content {
    color: #768275;
    background: #e9eef3;
}

.comments-list .comment-content .email {
    font-size: 18px;
    font-weight: 600;
}

.comments-list .comment:nth-child(even) .comment-content .email {
    color: #58ad52;
}

.comments-list .comment:nth-child(odd) .comment-content .email {
    color: #6d737b;
}


/* FOOTER BLOCK */
.comments-container .footer {
    height: auto;
    background-color: #2d3136;
    padding: 30px 150px;
}

.comments-container .footer .social{
    float: right;
    height: 30px;
    width: 100px;
    right: 0;
    bottom: 0;
    margin-top: -25px;
}
.comments-container .footer .vk ,
.comments-container .footer .fb{
    float: left;
    -webkit-background-size: contain;
    background-size: contain;
    height: 30px;
    width: 30px;
    display: block;
}
.comments-container .footer .vk {
    background-image:url(/vk.png);
}
.comments-container .footer .fb {
    margin-left: 30px;
    background-image:url(/fb.png);
}